.token-container{
  display: flex;
  justify-content: center;
}
.token-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  width: 90%;
}

.token-rank {
  padding-left: -20px;
  padding-right: -20px;
}

.token{
  display: flex;
  align-items: center;
}
.token img{
  height: 30px;
  width: 30px;
  margin: 10px 10px;
}
.token h1{
  font-size: 16px;
  width: 150px;
}
.token-symbol{
  text-transform: uppercase;

}

.token-price{
  width:110px;
}
.token-volume{
  width: 230px;
}
.token-marketcap{
  width: 155px;
}
.token-percent{
  width: 100%;
}
.red{
  color: #f00606;
}
.green{
  color: #11d811;
}

p {
  text-decoration: none;
}

.price-change {
  min-width: 50px;
}